body{margin:0;padding:0; font-family: 'Inter', sans-serif; color: #000000; font-size: 14px;}
@media(min-width:1200px){.container{max-width:1170px !important}}.responsive-embed{position:relative;padding-bottom:56.25%;overflow:hidden;}.responsive-embed iframe,.responsive-embed object{position:absolute;top:0;left:0;width:100%;height:100%;}.font14{font-size: 14px;}.font16{font-size:16px}.font18{font-size:18px}.font20{font-size:20px}.font22{font-size:22px}.font24{font-size:24px}.font26{font-size:26px}.font28{font-size:28px}.font30{font-size:30px}.font32{font-size:32px}.font34{font-size:34px}.mtop0{margin-top:0 !important}.mtop1{margin-top:1px !important}.mtop2{margin-top:2px !important}.mtop3{margin-top:3px !important}.mtop4{margin-top:4px !important}.mtop5{margin-top:5px !important}.mtop6{margin-top:6px !important}.mtop7{margin-top:7px !important}.mtop8{margin-top:8px !important}.mtop9{margin-top:9px !important}.mtop10{margin-top:10px !important}.mtop11{margin-top:11px !important}.mtop12{margin-top:12px !important}.mtop13{margin-top:13px !important}.mtop14{margin-top:14px !important}.mtop15{margin-top:15px !important}.mtop16{margin-top:16px !important}.mtop17{margin-top:17px !important}.mtop18{margin-top:18px !important}.mtop19{margin-top:19px !important}.mtop20{margin-top:20px !important}.mtop21{margin-top:21px !important}.mtop22{margin-top:22px !important}.mtop23{margin-top:23px !important}.mtop24{margin-top:24px !important}.mtop25{margin-top:25px !important}.mtop26{margin-top:26px !important}.mtop27{margin-top:27px !important}.mtop28{margin-top:28px !important}.mtop29{margin-top:29px !important}.mtop30{margin-top:30px !important}.mtop31{margin-top:31px !important}.mtop32{margin-top:32px !important}.mtop33{margin-top:33px !important}.mtop34{margin-top:34px !important}.mtop35{margin-top:35px !important}.mtop36{margin-top:36px !important}.mtop37{margin-top:37px !important}.mtop38{margin-top:38px !important}.mtop39{margin-top:39px !important}.mtop40{margin-top:40px !important}.mtop41{margin-top:41px !important}.mtop42{margin-top:42px !important}.mtop43{margin-top:43px !important}.mtop44{margin-top:44px !important}.mtop45{margin-top:45px !important}.mtop46{margin-top:46px !important}.mtop47{margin-top:47px !important}.mtop48{margin-top:48px !important}.mtop49{margin-top:49px !important}.mtop50{margin-top:50px !important}.mtop51{margin-top:51px !important}.mtop52{margin-top:52px !important}.mtop53{margin-top:53px !important}.mtop54{margin-top:54px !important}.mtop55{margin-top:55px !important}.mtop56{margin-top:56px !important}.mtop57{margin-top:57px !important}.mtop58{margin-top:58px !important}.mtop59{margin-top:59px !important}.mtop60{margin-top:60px !important}.mtop61{margin-top:61px !important}.mtop62{margin-top:62px !important}.mtop63{margin-top:63px !important}.mtop64{margin-top:64px !important}.mtop65{margin-top:65px !important}.mtop66{margin-top:66px !important}.mtop67{margin-top:67px !important}.mtop68{margin-top:68px !important}.mtop69{margin-top:69px !important}.mtop70{margin-top:70px !important}.mtop71{margin-top:71px !important}.mtop72{margin-top:72px !important}.mtop73{margin-top:73px !important}.mtop74{margin-top:74px !important}.mtop75{margin-top:75px !important}.mtop76{margin-top:76px !important}.mtop77{margin-top:77px !important}.mtop78{margin-top:78px !important}.mtop79{margin-top:79px !important}.mtop80{margin-top:80px !important}.mtop81{margin-top:81px !important}.mtop82{margin-top:82px !important}.mtop83{margin-top:83px !important}.mtop84{margin-top:84px !important}.mtop85{margin-top:85px !important}.mtop86{margin-top:86px !important}.mtop87{margin-top:87px !important}.mtop88{margin-top:88px !important}.mtop89{margin-top:89px !important}.mtop90{margin-top:90px !important}.mtop91{margin-top:91px !important}.mtop92{margin-top:92px !important}.mtop93{margin-top:93px !important}.mtop94{margin-top:94px !important}.mtop95{margin-top:95px !important}.mtop96{margin-top:96px !important}.mtop97{margin-top:97px !important}.mtop98{margin-top:98px !important}.mtop99{margin-top:99px !important}.mtop100{margin-top:100px !important}@media(min-width:768px){.font-md16{font-size:16px}.font-md18{font-size:18px}.font-md20{font-size:20px}.font-md22{font-size:22px}.font-md24{font-size:24px}.font-md26{font-size:26px}.font-md28{font-size:28px}.font-md30{font-size:30px}.font-md32{font-size:32px}.font-md34{font-size:34px}.font-md36{font-size:36px}.font-md38{font-size:38px}.font-md40{font-size:40px}.font-md42{font-size:42px}.font-md44{font-size:44px}.font-md45{font-size:45px}.font-md46{font-size:46px}.font-md48{font-size:48px}.font-md50{font-size:50px}.font-md52{font-size:52px} .font-md54{font-size:54px} .font-md55{font-size:55px} .font-md56{font-size:56px}.font-md65{font-size:65px}.mtop-md0{margin-top:0 !important}.mtop-md1{margin-top:1px !important}.mtop-md2{margin-top:2px !important}.mtop-md3{margin-top:3px !important}.mtop-md4{margin-top:4px !important}.mtop-md5{margin-top:5px !important}.mtop-md6{margin-top:6px !important}.mtop-md7{margin-top:7px !important}.mtop-md8{margin-top:8px !important}.mtop-md9{margin-top:9px !important}.mtop-md10{margin-top:10px !important}.mtop-md11{margin-top:11px !important}.mtop-md12{margin-top:12px !important}.mtop-md13{margin-top:13px !important}.mtop-md14{margin-top:14px !important}.mtop-md15{margin-top:15px !important}.mtop-md16{margin-top:16px !important}.mtop-md17{margin-top:17px !important}.mtop-md18{margin-top:18px !important}.mtop-md19{margin-top:19px !important}.mtop-md20{margin-top:20px !important}.mtop-md21{margin-top:21px !important}.mtop-md22{margin-top:22px !important}.mtop-md23{margin-top:23px !important}.mtop-md24{margin-top:24px !important}.mtop-md25{margin-top:25px !important}.mtop-md26{margin-top:26px !important}.mtop-md27{margin-top:27px !important}.mtop-md28{margin-top:28px !important}.mtop-md29{margin-top:29px !important}.mtop-md30{margin-top:30px !important}.mtop-md31{margin-top:31px !important}.mtop-md32{margin-top:32px !important}.mtop-md33{margin-top:33px !important}.mtop-md34{margin-top:34px !important}.mtop-md35{margin-top:35px !important}.mtop-md36{margin-top:36px !important}.mtop-md37{margin-top:37px !important}.mtop-md38{margin-top:38px !important}.mtop-md39{margin-top:39px !important}.mtop-md40{margin-top:40px !important}.mtop-md41{margin-top:41px !important}.mtop-md42{margin-top:42px !important}.mtop-md43{margin-top:43px !important}.mtop-md44{margin-top:44px !important}.mtop-md45{margin-top:45px !important}.mtop-md46{margin-top:46px !important}.mtop-md47{margin-top:47px !important}.mtop-md48{margin-top:48px !important}.mtop-md49{margin-top:49px !important}.mtop-md50{margin-top:50px !important}.mtop-md51{margin-top:51px !important}.mtop-md52{margin-top:52px !important}.mtop-md53{margin-top:53px !important}.mtop-md54{margin-top:54px !important}.mtop-md55{margin-top:55px !important}.mtop-md56{margin-top:56px !important}.mtop-md57{margin-top:57px !important}.mtop-md58{margin-top:58px !important}.mtop-md59{margin-top:59px !important}.mtop-md60{margin-top:60px !important}.mtop-md61{margin-top:61px !important}.mtop-md62{margin-top:62px !important}.mtop-md63{margin-top:63px !important}.mtop-md64{margin-top:64px !important}.mtop-md65{margin-top:65px !important}.mtop-md66{margin-top:66px !important}.mtop-md67{margin-top:67px !important}.mtop-md68{margin-top:68px !important}.mtop-md69{margin-top:69px !important}.mtop-md70{margin-top:70px !important}.mtop-md71{margin-top:71px !important}.mtop-md72{margin-top:72px !important}.mtop-md73{margin-top:73px !important}.mtop-md74{margin-top:74px !important}.mtop-md75{margin-top:75px !important}.mtop-md76{margin-top:76px !important}.mtop-md77{margin-top:77px !important}.mtop-md78{margin-top:78px !important}.mtop-md79{margin-top:79px !important}.mtop-md80{margin-top:80px !important}.mtop-md81{margin-top:81px !important}.mtop-md82{margin-top:82px !important}.mtop-md83{margin-top:83px !important}.mtop-md84{margin-top:84px !important}.mtop-md85{margin-top:85px !important}.mtop-md .mtop-md86{margin-top:86px !important}.mtop-md87{margin-top:87px !important}.mtop-md88{margin-top:88px !important}.mtop-md89{margin-top:89px !important}.mtop-md90{margin-top:90px !important}.mtop-md91{margin-top:91px !important}.mtop-md92{margin-top:92px !important}.mtop-md93{margin-top:93px !important}.mtop-md94{margin-top:94px !important}.mtop-md95{margin-top:95px !important}.mtop-md96{margin-top:96px !important}.mtop-md97{margin-top:97px !important}.mtop-md98{margin-top:98px !important}.mtop-md99{margin-top:99px !important}.mtop-md100{margin-top:100px !important}}
.l100 {line-height: 100%}.l110 {line-height: 110%}.l120 {line-height: 120%}.l130 { line-height: 130%}.l140 {line-height: 140%}.l150 {line-height: 150%}.l160 { line-height: 160%}.l170 {line-height: 170%}.l180 { line-height: 180%}.weight400 {font-weight: 400 !important}.weight500 { font-weight: 500 !important}.weight600 {font-weight: 600 !important}.weight700 {font-weight: 700 !important}.weight800 { font-weight: 800 !important}
.weight900 {font-weight: 900 !important}
/* Common Css End */

.logo-size{max-height: 70px;}
.yellow-color{color:#ffc60d !important}
.blue-color,
a.blue-color,
a.blue-color:hover{color:#0d2984}
.blue-color1{color:#5b85ef}
.white-color{color:#ffffff}
.green-color{color:#0cad1b}
.black-color{color:#000000 !important}
.pacifico{font-family: 'Pacifico', cursive;}
.gap10{gap: 10px;}
.text-gradient {
    background: #ff6b0a;
    background: linear-gradient(to right, #ff6b0a 30%, #ef0f1a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient2 {
    background: #4186ec;
    background: linear-gradient(to right, #4186ec 30%, #0c6699 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.move-animation {
    animation: 2s ease-in-out 0s infinite alternate none running updown;
}
.slideup {
    -webkit-animation: fastblink 3s infinite alternate;
    animation: fastblink 1s infinite alternate;
}
@-webkit-keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes mover2 {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}


@-webkit-keyframes fastblink {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes fastblink {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes updown {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}
@keyframes updown {
    0% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@media (min-width:1200px){
	.container{
		max-width: 1240px !important;
	}
}

.welcome-section {
	background: #0f152b;
	padding: 30px 0px;
}

.welcome-section .first {
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	margin-top: 30px;
	line-height: 150%;
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: dashed;
	background-color: rgba(0, 0, 0, 0.149);
	display: inline-flex;
	border-radius: 15px;
	padding: 15px;
}

.welcome-section .second {
	font-size: 30px;
	font-weight: 700;
	line-height: 150%;
	color: #ffffff;
	margin-top: 30px;

}
.welcome-section .second .highlight1{
    color: #ffd800;
    font-weight: 700;
}
.welcome-section .second .highlight2{
    color: #ffd800;
    font-weight: 700;
}
.welcome-section .second .highlight3{
    color: #ffd800;
    font-weight: 700;
}

.welcome-section .third {
	font-size: 22px;
	font-weight: 500;
	line-height: 150%;
	color: #ffffff;
	margin-top: 30px;
}
.welcome-section .responsive-embed {
	border-radius: 20px;
	border: solid 4px #ffffff;
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width:768px) {
	.welcome-section {
		padding: 50px 0px 100px 0px;
		background:#ebeff9 url(../images/welcome-bg.png) center bottom no-repeat;
		background-size: cover;
	}
	
	.welcome-section .first {
		font-size: 22px;
		border-radius: 100px;
		padding: 14px 30px;
	}

	.welcome-section .second {
		font-size:50px;
	}
	.welcome-section .second .highlight1{
		background: url(../images/high1.png) center bottom no-repeat;
		padding-bottom: 5px;
	}
	.welcome-section .second .highlight2{
		background: url(../images/high2.png) center bottom no-repeat;
		padding-bottom: 5px;
	}
	.welcome-section .second .highlight3{
		background: url(../images/high3.png) center bottom no-repeat;
		padding-bottom: 5px;
	}

	.welcome-section .third {
		font-size: 28px;
	}
}

/* Action Link */
a.action-link {
	border-radius: 20px;
	background-image: -moz-linear-gradient(90deg, rgb(235, 153, 11) 0%, rgb(254, 188, 18) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(235, 153, 11) 0%, rgb(254, 188, 18) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(235, 153, 11) 0%, rgb(254, 188, 18) 100%);
	box-shadow: 3px 5.196px 0px 0px rgba(255, 255, 255, 0.004);
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px;
	font-weight: 900;
	font-size: 22px;
	line-height: 150%;
	text-transform: capitalize;
	color: #000000;
	border-bottom: solid 5px #d2d2d2;
	border-right: solid 5px #d2d2d2;
	transition: all 0.5s;
}

a.action-link:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}


.cta-des {
	font-size: 20px;
	font-weight: 500;
	line-height: 150%;
	color: #ffffff;
	margin-bottom: 20px;
}

@media (min-width:768px) {
	a.action-link {
		display: inline-block;
		padding: 25px 40px;
		font-size: 28px;
		line-height: 150%;
		text-transform: capitalize;
	}

	.cta-des {
		font-size: 22px;		
	}
}

/* Action Link End */

.section-list {
	background: #ffffff;
	padding: 30px 0px;
}

.point-bg {
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
	padding: 30px;
}

ul.point-list {
	margin: 0px;
	padding: 0px;
}

.point-list li {
	background: url(../images/arrow.png) no-repeat;
	padding: 0px 0px 10px 50px;
	margin-bottom: 20px;
	background-position: 0px 0px;
	list-style: none;
}

.point-list li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.highlight4{
	background: url(../images/high4.png) center bottom no-repeat;
		padding-bottom: 5px;
}
@media (min-width:768px) {
	.section-list {
		background: url(../images/point-feature-bg.png) no-repeat center center;
		background-size: cover;
		padding:100px 0px
	}
}

.content-wrap{
	padding: 30px 0px 0px 0px;
	background: #0d143e;	
}
.sales-wrap{
	padding: 30px 0px;
	background: #ffffff;
}
@media (min-width:768px) {
	.content-wrap {
		padding:150px 0px 0px 0px;
		background:#ffffff url(../images/content-wrap.png) no-repeat top center;
	background-size: cover;	
	}
	.sales-wrap {
		padding:0px 0px 100px 0px;
		background:#ffffff url(../images/sales-wrap.png) no-repeat center center;
		background-size: cover;	
	}
	.perfect-img {
		position: absolute;
		bottom: 0px;
		min-width: 466px;
		left: -20px;
	}
}


.intro-sec {
	padding: 30px 0px 60px 0px;
	background:#ffffff url(../images/intro-bg.png) no-repeat center bottom;
	background-size: cover;
}

.introshape {
	background: url(../images/intro-shape.png) no-repeat center center;
	background-size: 100% 100%;
	padding: 20px 50px 38px 50px;
	display: inline-block;
}

@media (min-width:768px) {
	.intro-sec {
		padding: 100px 0px 120px 0px;
	}
	.introshape {
		padding: 30px 70px 48px 70px;
	}
}

.features-one {
	padding: 30px 0px;
	background:#ffffff url(../images/feature-one.png) no-repeat center center;
	background-size: cover;
}
.features-two {
	padding: 30px 0px;
	background:#0b1c4b url(../images/feature-two.png) no-repeat center center;
	background-size: cover;
}
@media (min-width:768px) {
	.features-one, 
	.features-tow
	{
		padding: 100px 0px;
	}
}


@media (min-width:768px) {
	.features-two{
		padding: 100px 0px;
	}
}



.value-bg {
	background: url(../images/value-bg.png) no-repeat center center;
	background-size: cover;
	padding: 30px 0px 0px 0px;
}

@media (min-width:768px) {
	.value-bg {
		padding:100px 0px 80px 0px;
	}
	.value-img{
		position: absolute;
		bottom: -80px;
		min-width: 466px;
		left: -20px;
	}
}


.money-bg {
    background-color: #ffffff;
    padding: 30px 0px;
}
@media (min-width: 768px){
.money-bg {
    padding: 100px 0px;
    background: #ffffff url(../images/moneyback-bg.png) no-repeat center center;
    background-size: cover;
}
}

.bonus-bg {
    padding: 30px 0px;
	background: #080c1d url(../images/bonus-bg.png) no-repeat center center;
    background-size: cover;
}
.bonus-wrap{
		background-color: rgb(255, 255, 255);
		padding: 15px;
}
@media (min-width: 768px){
.bonus-bg {
    padding: 100px 0px;
}
.bonus-wrap{
	padding: 30px;
}
}

.pricing-table {
	padding: 30px 0px;
	background: url(../images/pricing-table-bg.png) no-repeat center center;
	background-size: cover;
}

.table-wrap {
	background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 66%, rgb(22, 30, 141) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 66%, rgb(22, 30, 141) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 66%, rgb(22, 30, 141) 100%);
	box-shadow: 0px 0px 21px 9px rgba(86, 86, 86, 0.1);
	padding: 30px 0px;
	border-radius: 20px;
}

.table-div {
	padding: 30px;
}

ul.table-list {
	margin: 0px;
	padding: 0px;
}

.table-list li {
	background: url(../images/table-tick.png) no-repeat;
	padding: 0px 0px 10px 40px;
	margin-bottom: 10px;
	background-position: 0px 4px;
	list-style: none;
}

.table-list li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

@media (min-width:768px) {
	.pricing-table {
		padding: 100px 0px;
	}
}


.footer-section {
	padding: 30px 0px;
	background: #11172b;
	color: #6c7bad;
}

.footer-section .logo-size {
	max-height: 50px;
}
ul.legal-link{
	margin: 0px;
	padding: 0px;
}
ul.legal-link li{
	margin: 3px;
	display: inline-flex;
} 
ul.legal-link li a{
	text-decoration: none;
	color: #6c7bad;
}
@media (min-width:768px) {
	.footer-section {
		padding: 50px 0px;
	}

	.footer-section .logo-size {
		max-height: 70px;
	}
	ul.legal-link li{
		margin: 10px;
		display: inline-flex;
	} 
}
